<?xml version="1.0"?>
<!--
/**
 * module.xml
 *
 * A magento 2 module to have Vendors for products
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codilar_Vendor" >
        <sequence>
            <module name="Magento_Catalog" />
        </sequence>
    </module>
</config>
