<?xml version="1.0"?>
<!--
/**
*
* menu.xml
*
* Menu bar for Vendor in menu title and sub menu for Menu
*
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Codilar_Vendor::vendor" title="Vendor" translate="title" parent="Magento_Catalog::inventory" module="Codilar_Vendor"
             sortOrder="75" action="vendor/details/index" resource="Magento_Backend::content"/>
    </menu>
</config>
